In [48]:
"""
    I chose this dataset because it had more categories than my previous attempt, meaning that I could better sort variables
    Description of the data:
        how big is it (number of observations, variables): 2225 observations, 2 variables
        how many numeric variables
        how many categorical variables: 
        Are there any missing values?: missing values are outside the range recorded
        Any duplicate rows?
    Compute summary statistics (mean, median, mode, standard deviation, variance, range). 
    Select one categorical variable, compute these statistics by grouping on that variable
    Record your observation. What did you find the most fascinating from your descriptive analysis. 
"""
import pandas as pd
import numpy as np
import statsmodels.api as sm
grunfeld = sm.datasets.grunfeld

In [49]:
print(grunfeld.DESCRLONG)

Grunfeld (1950) Investment Data for 11 U.S. Firms.

In [50]:
print(grunfeld.NOTE)

::

    Number of observations - 220 (20 years for 11 firms)

    Number of variables - 5

    Variables name definitions::

        invest  - Gross investment in 1947 dollars
        value   - Market value as of Dec. 31 in 1947 dollars
        capital - Stock of plant and equipment in 1947 dollars
        firm    - General Motors, US Steel, General Electric, Chrysler,
                Atlantic Refining, IBM, Union Oil, Westinghouse, Goodyear,
                Diamond Match, American Steel
        year    - 1935 - 1954

    Note that raw_data has firm expanded to dummy variables, since it is a
    string categorical variable.

In [51]:
dataset_grunfeld = grunfeld.load_pandas()

In [52]:
df_grunfeld = dataset_grunfeld.data
df_grunfeld.head()

   invest   value  capital            firm    year
0   317.6  3078.5      2.8  General Motors  1935.0
1   391.8  4661.7     52.6  General Motors  1936.0
2   410.6  5387.1    156.9  General Motors  1937.0
3   257.7  2792.2    209.2  General Motors  1938.0
4   330.8  4313.2    203.4  General Motors  1939.0

In [53]:
df_grunfeld.tail()

     invest   value  capital            firm    year
215   4.770  36.494   75.847  American Steel  1950.0
216   6.532  46.082   77.367  American Steel  1951.0
217   7.329  57.616   78.631  American Steel  1952.0
218   9.020  57.441   80.215  American Steel  1953.0
219   6.281  47.165   83.788  American Steel  1954.0

In [54]:
df_grunfeld.shape

(220, 5)

In [55]:
df_grunfeld.isnull().sum()

invest     0
value      0
capital    0
firm       0
year       0
dtype: int64

In [56]:
df_grunfeld.dtypes

invest     float64
value      float64
capital    float64
firm        object
year       float64
dtype: object

In [57]:
cleaned_grunfeld = df_grunfeld.drop_duplicates()
cleaned_grunfeld.shape

(220, 5)

In [59]:
df_grunfeld.to_excel("grunfeld_cleaned.xlsx", sheet_name = "data", index=False)

In [60]:
calced = pd.read_excel("grunfeld_cleaned.xlsx", sheet_name="data")

In [61]:
cleaned_grunfeld.describe()

            invest        value      capital         year
count   220.000000   220.000000   220.000000   220.000000
mean    133.311900   988.577805   257.108541  1944.500000
std     210.587186  1287.301172   293.227914     5.779431
min       0.930000    30.284000     0.800000  1935.000000
25%      27.380000   160.325000    67.100000  1939.750000
50%      52.365000   404.650000   180.100000  1944.500000
75%      99.782500  1605.925000   344.500000  1949.250000
max    1486.700000  6241.700000  2226.300000  1954.000000

In [62]:
cleaned_grunfeld["capital"].mean()

257.1085409090909

In [63]:
cleaned_grunfeld["capital"].median()

180.1

In [64]:
cleaned_grunfeld["capital"].std()

293.22791446935724

In [65]:
cleaned_grunfeld["capital"].var()

85982.6098240487

In [66]:
cleaned_grunfeld["capital"].min()

0.8

In [67]:
cleaned_grunfeld["capital"].max()

2226.3

In [68]:
cleaned_grunfeld["capital"].max() - cleaned_grunfeld["capital"].min()

2225.5

In [76]:
# rate of return
grunfeld_endval = cleaned_grunfeld["capital"] + cleaned_grunfeld["value"]
cleaned_grunfeld["rate_of_return"] = ((grunfeld_endval - cleaned_grunfeld["invest"]) / cleaned_grunfeld["invest"]) * 100
cleaned_grunfeld["rate_of_return"].head()

0     870.182620
1    1103.241450
2    1250.219191
3    1064.687621
4    1265.356711
Name: rate_of_return, dtype: float64

In [69]:
# The descriptive analysis's most interesting observation the standard deviation.
# Normally, or at least ideally, the standard deviation is a small number, showing that there is a lot of similarly-valued data points.
# However this particular variable in the dataset shows a lot of variation, thus meaning that the amount of capital varies greatly between datapoints.

In [ ]:
# Use an inbuilt dataset, preferably the one you used for the first assignment ({{Python] Loading Data).
# Build on the work done so far by adding at least one hypothesis test and a regression model on the dataset.
# Do ensure you provide the context of the analysis and also the interpretation of the analysis results.