In [ ]:
# This piece of code enables display of multiple output from one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Creating multiple files

In [ ]:
import pandas as pd
ames = pd.read_csv("data/AmesHousing.csv", index_col="Order")
ames.head(2)
ames['Yr Sold'].unique()

In [ ]:
# creating filenames
import os
os.mkdir('data/ames_yearly_files')
for year in ames['Yr Sold'].unique():
   filename='data/ames_yearly_files/soldyr' + str(year) + '.csv'
   print(filename)

In [ ]:
uni_years = ames['Yr Sold'].unique()
for year in uni_years:
    year_sold = ames[ames['Yr Sold'] == year]
    filename = 'data/ames_yearly_files/soldyr' + str(year) + '.csv'
    year_sold.to_csv(filename)

In [ ]:
os.listdir('data/ames_yearly_files')

## Multiple Inputs

In [ ]:
import pandas as pd
data1 = pd.read_csv('data/ames_yearly_files/soldyr2010.csv')
data1.head()

In [ ]:
inyear = [2006, 2007, 2008]

## Multiple plots

In [ ]:
combinedata.columns

In [ ]:
vars2plot = ['Neighborhood', 'Bldg Type', 'Sale Condition']

## Functions and Conditionals

In [ ]:
def add_seven(input):
   
    return output

In [ ]:
add_seven(1)

In [ ]:
help(add_seven)

### Functions

In [ ]:
def tidycolnames(df):
    """ This function takes a dataframe and changes the columns names 
        by removing spaces and making the letters lowercase"""
    df.columns = df.columns.str.replace(' ', '')
    df.columns = [col.lower() for col in df]
    return df


help(tidycolnames)

In [ ]:
ames.head()
ames_tidy = tidycolnames(ames)
ames_tidy.head()