In [ ]:
# This piece of code enables display of multiple output from one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# SQL

### Connecting to Database

In [ ]:
import sqlite3

In [ ]:
sqliteConnection = sqlite3.connect('sql.db')

In [ ]:
cursor = sqliteConnection.cursor()
print('DB Init')

In [ ]:
query = 'select sqlite_version();'
cursor.execute(query)
  
result = cursor.fetchall()
print('SQLite Version is {}'.format(result))

In [ ]:
cursor.close()

### Lets query covid data

In [ ]:
import pandas as pd
covid = pd.read_csv("data/covid_statistics.csv")
covid.shape
covid.head()
del covid["Unnamed: 0"]

### How many rows in the table?

### What are the statistics for "World"? What about North America?
#### Where clause

### Were there any instances where the total cases was more than 1000 but Weekly ICU admissions less than 200?
#### LIMIT

### What are the top instances where total cases were between 1000 and 2000 in April 2021
#### ORDER BY

### How did the total new cases and new deaths compare across all continents in 2021?
### How did the countries in North America rank based on new total deaths?
#### GROUP BY

### How many countries reported data at least 450 times in North America?
#### HAVING

In [ ]:
query = 'SELECT location, COUNT(DISTINCT date) as cnt FROM covid_stats WHERE continent == "North America" GROUP BY location ORDER BY cnt desc'
cursor.execute(query)
print(pd.read_sql_query(query,sqliteConnection))

In [ ]:
query = 'SELECT DISTINCT location FROM covid_stats WHERE continent == "North America" GROUP BY location HAVING count(location) > 450'
cursor.execute(query)
print(pd.read_sql_query(query,sqliteConnection))

In [ ]:
query = 'SELECT location, SUM(new_cases) as tot_new_cases, SUM(new_deaths) as tot_new_deaths  FROM covid_stats WHERE location IN (SELECT DISTINCT location FROM covid_stats WHERE continent == "North America" GROUP BY location HAVING count(location) > 450) GROUP BY location ORDER BY tot_new_deaths desc'
cursor.execute(query)
print(pd.read_sql_query(query,sqliteConnection))

### Load the second table

In [ ]:
import pandas as pd

cntry = pd.read_csv("data/country_statistics.csv")

cntry.shape
cntry.head()
del cntry["Unnamed: 0"]
cntry.shape
cntry.head()


### JOINS

### Reference
[SQLite Python](https://www.tutorialspoint.com/sqlite/sqlite_python.htm)
<br>
[COVID Data](https://github.com/owid/covid-19-data/tree/master/public/data)
<br>
[Intro to Databases](https://www.geeksforgeeks.org/introduction-to-sqlite-in-python/)